
/* HEADER 시작 (유림) */
/* HEADER 끝 (유림) */

/* MAIN_1 시작 (이원) */
/* MAIN_1 끝 (이원) */

/* MAIN_2 시작 (수연) */
/* MAIN_2 시작 (수연) */

/* MAIN_3 시작 (정석) */

/* body layout */

/* 중앙정렬 */
.main_total >  .main3_container,
.main4_container {
  text-align: center; 
} 

/* main3 */

/* 기준잡고 버튼 위치조절 */
.main3_container {
  position: relative;
}

.main3_container .main3_btn {
  position: absolute;
  transform: translateY(50%);
  top:10%;
  right:1%;
}

/* 시사회/무대인사 셀(li) 크기,효과,float left */
.test_screening .screen_cell{
  width:402px;
  height:237px;  
  border-radius: 15px;
  overflow: hidden; 
  float: left;
  margin-right:33px;
  position: relative;  
}

/* 셀 마지막에는 margin-right:0 */
.test_screening .screen_cell:last-child {
  margin-right: 0px ;
}

/* 셀안의 img에 트랜지션 및 호버시 이미지 스케일 + 필터로 어둡게 */
.test_screening .screen_cell img{
  transition: transform 0.3s;
}
.test_screening .screen_cell:hover img{
  transform: scale(1.5);   
  filter: brightness(0.7);
}


/* 셀안의 h3 텍스트 효과 */

.screen_cell .cell_tt {
  color: #fff;
  position: absolute;
  left:30px;
  bottom: 20px;    
  text-align:left;
  font-size: 21px;
}  

/* 셀안의 span텍스트 효과 */
.screen_cell .cell_tt .con_tt {
  display: block;  
}
 

/* main4 */
.main4_left_box{
  background-color: #d74357;
  width:635px;
  height:613px;
}
.main4_left_box h2 {
  text-align: center;
  vertical-align: middle;
}

.main4_left_box img {
  width: 635px;
  height: 354px;
}

.main4_left_box .main4_mapbox {
  position: relative;
}

.main4_box .main4_left_box .main4_cgv{
  font-family: 'CJ ONLYONE','sans-serif';    
  line-height: 27px;
  color: #fff;  
}

.main4_box .main4_left_box p:first-child{  
  top:79px;
  left:128px;
  position: absolute;
  font-size: 21px;
  line-height: 27px;
}
.main4_box .main4_left_box p:first-child span{  
  font-weight: bold;
}
.main4_box .main4_left_box span + span{  
  top:50%;
  left:127px;
  font-size: 15px;
  position: absolute;
  line-height: 27px;
}

.main4_left_box .main4_mapbox {
  text-align: center;
}
.main4_left_box .main4_mapbox a{
  background: #fff;
  border:1px solid #3a3a3a;
  border-radius: 27.5%;
  display: inline-block; 
  font-size: 20px;
  text-align: center;
  vertical-align: center;
}

/*




.main4_content {
  width:635px;
  height:354px;
  float:left;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 26px;  
}


.main4_theater  {

}

.main4_title {
 word-spacing: 497px;
}

.main4_cellbox .qna_cell a{
  border:1px solid #3a3a3a;  
  padding: 12px 30px;
  margin-right:15%;
  display: inline-block; 
  font-size: 15px;
  text-align: center;
  line-height: 2;

  vertical-align: center;
}

.main4_content > div {
  margin-top:66px;
  margin-bottom: 75px;  
  text-align:left;  
}

.main4_content {
  position: relative;
}

.main4_cellbox {
  position: relative;
}


.main4_content .qna_cell a:first-child{
  position: absolute;
  left:50px;
  top:180px;
}
.main4_content .qna_cell a:last-child{
  position: absolute;
  left:180px;
  top:180px;
}

.main4_content h3 {
  font-size:  43px;
  line-height: 40px;
  position: absolute;
  right:234px;


}
.main4_content h4 {
  font-size:  23px;
  line-height: 40px;
  position: absolute;
  top:70px;
  
}
.main4_content h2 {
  font-size:  14px;  
  line-height: 28px;
  position: absolute;
  top:120px;
  
}
.main4_content h5 {
  font-size: 12px;
  line-height: 28px;
  position: absolute;
  top:150px;
}

.main4_content p{
  font-family: 'CJ ONLYONE','sans-serif';  
  font-size: 21px;
  line-height: 27px;
}


.main4_content .sns{
  position: absolute;
  color:#fff;  
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}



.main4_content .main4_theater a {
  border:1px solid #3a3a3a;  
  padding: 12px 30px;
  margin-right:15%;
  display: inline-block; 
  font-size: 15px;
  text-align: center;
  vertical-align: center;
  z-index: 3;
}

.main4_cellcontrols {
  padding-left:50px;
}


.main4_cellbox ul {
  position: absolute;
}

.main4_cellbox ul a {
  width: 40px;
  height: 40px;
  display: block;
  float:left;
}

.main4_cellbox ul {
  float:left;

} */







/* footer */
footer * {
  font-size: 13px;
}
.footer_upper li{
  float: left;  
}
footer li + li{
  padding-left: 55px;
}
footer li:hover a {
  text-decoration: underline;
}
footer li:last-child{
  padding-right: 30px;
}


footer li:first-child {
  padding-left:15px ;
}

.footer_upper {
  box-shadow: 1px 0 rgba(0, 0, 0, 0.1); 
}
.footer_btm p {  
  white-space: pre-line;
  line-height: 27px;
}


.footer_btm {
  position: relative;
}
.footer_btm form {
  position: absolute;
  right:0;
  top:110px;
}

.footer_btm form a {
  display: inline-block;
  color: white;
  background: red;
  padding: 5px;
  cursor: pointer;
}

.footer_btm #cgv_chain *{
  cursor:pointer;
}

.footer_btm span a {
  color:#d74357;
  font-weight: bold;
}

.footer_btm {
   border-top: 1px solid #8a8a8a;   
}


.footer_form {
  float:right;
}

/* aside */
 

aside .wr {
  width: 300px;
  height:297px;
  position: fixed;
  bottom: 0;
  right:100px;
  margin: 0 0 58px 0;
}
aside .wr p a {
  width:76px;
  height:100px;
  background-color: none;
  background-image: url(../images/paconi_07.png);
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px;  
  margin: 0 auto;
  animation:paconi 1s ease-in-out infinite;
  position: absolute; 
  top:-40%;  
  left:calc(37%);
}
aside .wr h1{
  border-radius: 50%;
  width:76px;
  height:76px; 
  background: #d74357; 
  position: relative;     
}

@keyframes paconi {
  0% {transform: translateY(0)}
  25% {transform: translateY(4%)}        
  50% {transform: translateY(10%)}        
  100% {transform: translateY(0)}
}

aside .wr .circle {
  width:56px;
  height:56px;  
  display: block;
  text-indent: -9999px;  
  margin: 9px auto;
  border-radius: 50%;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
  position: relative;  
}

aside .wr div:nth-child(2) i {    
  position: absolute;  
  left:calc(47%);
  line-height: center;
  top:10%;  

}
aside .wr div:nth-child(3) i {    
  position: absolute;  
  left:calc(47%);
  line-height: center;
  top:30%;  
}

/* MAIN_3 시작 (정석) */
