/* HEADER 시작 (유림) */
/* HEADER 끝 (유림) */

/* MAIN_1 시작 (이원) */
/* MAIN_1 끝 (이원) */

/* MAIN_2 시작 (수연) */
/* MAIN_2 끝 (수연) */

/* MAIN_3 시작 (정석) */

/* body layout */

/* 중앙정렬 */
/* body {
  position: relative;
} */
.main_total >  .main3_container{
  text-align: center; 
  position: relative;
} 

/* main3 */

/* 기준잡고 버튼 위치조절 */

.main3_btn {
  position: absolute;  
  right:0;   
  top:0%;
  transform: translateY(113px);
      
} 

.test_screening {
  position: relative;
}

/* 시사회/무대인사 셀(li) 크기,효과,float left */
.test_screening .screen_cell{
  width:402px;
  height:237px;  
  border-radius: 15px;
  overflow: hidden; 
  float: left;
  margin-right:33px;  
  position: relative;

}

/* 셀 마지막에는 margin-right:0 */
.test_screening .screen_cell:last-child {
  margin-right: 0px ;
}

/* 셀안의 img에 트랜지션 및 호버시 이미지 스케일 + 필터로 어둡게 */
.test_screening .screen_cell img{
  transition: transform .3s ease-in-out;

  

}
.test_screening .screen_cell:after{
  content: '';
  position: absolute;
  background: linear-gradient( rgba(0,0,0,0) 40%, rgba(0,0,0,.6) 100%);
  
  right:0;
  left:0;
  bottom:0;
  top:0;

}
.test_screening .screen_cell:hover img{
  transform: scale(1.1);   



}

.screen_cell figure {
  position: relative;
  background: linear-gradient( rgba(0,0,0,0) 60%, rgba(0,0,0,.4) 100%);


}
.screen_cell figure:hover::after
{ 
  content:'';
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* z-index: 2; */
}

/* 셀안의 h3 텍스트 효과  */

.screen_cell .cell_tt {
  color: #fff;
  position: absolute;
  left:30px;
  bottom: 20px;    
  text-align:left;
  font-size: 22px;
  font-weight: bold;
  line-height: 27px;
  z-index: 5;
}  

/* 셀안의 span텍스트 효과 */
.screen_cell .cell_tt .con_tt {
  display: block;    
  font-size: 18px;
  font-weight: 300;
  top:-30%;
  line-height: 27px;
 }
 

/* main4 */

.main4_allbox{  
  width:635px;  
  float:left;
  box-sizing: border-box;
  
}
.main4_left_box h2 {
  text-align: center;
  vertical-align: middle;
}

.main4_left_box img {
  width: 635px;
  height: 354px;
}

.main4_allbox .main4_mapbox {  
  position: relative;
  width: 635px;
  height: 354px;
  background: #8a8a8a;


}

.main4_box .main4_left_box .main4_cgv{
  font-family: 'CJ ONLYONE','sans-serif';    
  padding-top: 79px;
  line-height: 27px;
  color: #fff;  
}

.main4_mapbox > p {
  font-size: 26px;
  font-weight: 100;
  letter-spacing: -0.01em;   
}


.main4_mapbox p, p.span {  
  top:81px;
  left:50%;
  padding-bottom: 26px;
  position: absolute;
  line-height: 27px;  
  transform: translate(-50%, -50%);  
  white-space: nowrap;
}
.main4_mapbox p span {  
  font-weight: bold;
  vertical-align:top;  
}

.main4_mapbox span:nth-child(2){  
  transform: translateY(20px);  
  margin-top: 20px;  
  top:81px;
  left:50%;
  text-align: center;
  font-size: 22px;
  position: absolute;
  line-height: 27px;  
  transform: translate(-50%, -50%);
}

.main4_mapleft a{
  position: absolute;
  line-height: 55px;
  width:160px;
  height:55px;
  left:50%;
  bottom:81px;
  background: #fff;  
  text-align: center;
  vertical-align: top;
  display: inline-block;
  border-radius:27.5px;
  transform: translate(-50%);  
  font-size: 20px;
  font-weight: bold;  
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,.5);
  
} 
.main4_mapbox i{
font-size:18px;
left:50%;
margin-right: 19px;
} 

.main4_qnabox{
  text-align: left;
  position: relative;
}

.main4_qnabox{
  border: 1px solid #e2e2e2 ;
  width: 635px;
  height: 354px;
  padding: 74px 65px 56px;
  box-sizing: border-box;
}
.main4_qnabox h4,
.main4_qnabox h3{
  display: inline-block;
}

.main4_qnabox h4 {
margin-left: 3px;
font-size: 23px;
font-weight: 400;
line-height: 40px;
letter-spacing:-0.48px
}

.main4_qnabox h3 {
font-size: 43px;
font-weight: bold;
letter-spacing:-0.48px;
margin-left:53px;
}
.main4_qnabox h5 {
  margin-top: 25px;
}

.main4_qnabox h6 {
font-size: 12px;
font-weight: 400;
letter-spacing:-0.48px;
margin-top: 13px;
}

.helpbtn{
  /* margin-top:84px;  */
  display: inline-block; 
  position: absolute;
  bottom:56px;
  margin-right: 10px;
  
}
.helpbtn a{
  border: 1px solid #3a3a3a;
  display: inline-block;
  font-size: 15px;
  color:#3a3a3a;
  width: 107px;
  height: 44px;
  line-height: 44px;
  text-align: center;
}
.helpbtn a +a {
  margin-left:5px;
}

.snsbtn {  
  display: inline-block;  
  position: absolute;
  right:70px; 
  bottom:56px;  
    

  
}

.snsbtn a {
  width:10%;
  height:10%;
  border-radius: 50%;
}

.snsbtn a + a{
  margin-left: 5px;
}
/* footer */
footer {
  margin-bottom: 27px;
}


footer * {
  font-size: 13px;
  text-align: left;
}
footer li{
  float: left;  
}
footer li + li{
  padding-left: 55px;
}
footer li:hover a {
  text-decoration: underline;
}
footer li:last-child{
  padding-right: 30px;
}


footer li:first-child {
  padding-left:15px ;
}

.footer_write p {  
  white-space: pre-line;
  line-height: 27px;
}


.footer_write {
  position: relative;
}
.footer_write form {
  display: inline-block;
  position: absolute;
  right:0;
  bottom:10%;
}

.footer_write form a {
  display: inline-block;
  color: white;  
  padding: 5px;
  cursor: pointer;
}

.footer_write #cgv_chain *{
  cursor:pointer;
}

.footer_write span a {
  color:#d74357;
  font-weight: bold;
}

.footer_box {
  padding:41px 0;
}

.footer_write {
  margin-top: 47px;
}

/* aside */
 

aside {
  position: fixed;
  right:15%;
  bottom:40%;
}
aside .wr {
  width: 230px;
  height: 230px;
  /* background: #d74357; */
  position: absolute;
  left:85%;
}

aside .circle_pop {
  width:230px;
  height:80px;  
  /* background: #3a3a3a; */
  position: relative;
}
.circle_up {
  width:56px;  
  height:56px;
  margin: 0 auto;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);    
  background:#fff;
  position: relative;   
  border-radius: 50%;  
  cursor: pointer;
}
.circle_down {
  width:56px;  
  height:56px;
  margin: 0 auto;    
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);    
  background: #fff;
  position: relative;   
  border-radius: 50%;  
  cursor: pointer;
}


.circle_pop a {
  width:150px;
  height:143px;
  background-image: url(../images/paconi_btn_07.png); 
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px;  
  animation:paconi 2s ease-in-out infinite;
  position: absolute;   
  left:50%;
  top:0%;
  transform:translate(-50%, -50%);
  margin-bottom: 20px;
}


.circle_up a i,.circle_down a i  {
  position: absolute;  
  font-size: 20px;  
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  
}
.circle_up a ,.circle_down a  {
  display: block;
  margin-bottom: 10px;
}



@keyframes paconi {
  0% {top:5%;}       
  50% {top:25%;}  
  100% {top:5%;}
}



.circle_pop.active {
  width:120px;
  height:34px;
  border-radius: 30px;
  background: #272727;
  position: relative;
  top:5%;
  left:-40%;
  transform: translate(50% 50%);
  opacity: 1;
  /* display: none; */
}

.wr_guide button {
  width: 100%;
  height: 100%; 
}
/* .wr_guide button:after {    
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top:50%;
  right:-17px;
  transform: translateY(-45%);
} */

.wr_guide button h5 {
  font-size: 10px;    
  color: #fff;  
  text-align: center;
}

.circle_pop:hover .wr_guide {
opacity: 1;
/* display: block; */
}
/* MAIN_3 끝 (정석) */
.wr_guide:hover {
  background: #d74357;
}